/* css styles */

/*
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

* {
    font-family: 'Public Sans';
}
*/

/*
.button
{
  text-align: center;
  display: inline-block;
  border-radius: 90%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
*/

.echobtn {
  background-color: #00205b; /* Blue background */
  border: none; /* Remove borders */
  color: #DAA520;
  padding: 12px 16px; /* Some padding */
  font-size: 18px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 15px;
  moz-border-radius: 15px;
  webkit-border-radius: 15px;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.echobtn2 {
  background-color: #00205b; /* Blue background */
  border: none; /* Remove borders */
  color: #DAA520;
  padding: 12px 16px; /* Some padding */
  /* font-size: 18px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 15px;
  moz-border-radius: 15px;
  webkit-border-radius: 15px;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.notDisplayedOnPage {
  display: none;
}
